@import '../../../theme/app.mixins',
'../../../theme/app.theme';

.graphic {
  overflow: hidden;
  position: relative;
  width: 80%;
  @include pm-bg-card;

   :host-context(.pm-dark) & {
    color: #fff;
  }

  .slide {
    display: inline-flex;
    
    figure {
      max-width: 25vw;
      text-align: center;
      
      figcaption {
        padding-top: .5rem;
      }
    }
    
    .desc {
      flex: 1 1 auto;
      margin-left: .75rem;
    }
  }
}
