@import '../../theme/app.theme';

.bio {
  position: relative;
  
  .bld {
    bottom: -.5vw;
    left: -1.66vw;
    max-width: 60vw;
    position: fixed;
    width: 100%;
    z-index: 0;
  }
  
  .profile-pic {
    border: .35rem solid rgba(md-color($pm-accent), .8);
    margin-bottom: 2vw;
    max-width: 10vw;
    min-width: 4.5rem;
    position: relative;
    z-index: 1;
    
     :host-context(.pm-dark) & {
      border: .35rem solid rgba(md-color($dk-pm-accent), .8);
    }
  }
}
