@import '../../theme/app.theme';

.building {
  position: relative;
 
  &::before {
    content: url('../../assets/bio-building.svg');
    bottom: -1.5vw;
    left: -2.5vw;
    max-width: 60vw;
    position: fixed;
    width: 100%;
    z-index: 0;
  }
 
  .profile-pic {
    border: .35rem solid rgba(md-color($pm-accent), .8);
    margin-bottom: 2vw;
    max-width: 10vw;
    min-width: 4.5rem;
    position: relative;
    z-index: 1;
     
     :host-context(.pm-dark) .profile-pic {
      border: .35rem solid rgba(md-color($dk-pm-accent), .8);
    }
  }
}
