@import '../../../theme/app.mixins';

.code {
  @include pm-bg-card;
  width: $pmWidth;

  .slide {
    cursor: grab;
    display: inline-flex;

    &:active {
      cursor: grabbing;
    }

    figure {
      max-width: 25vw;
      text-align: center;

      figcaption {
        padding-top: 0.5rem;
      }
    }

    .desc {
      align-items: flex-start;
      display: inline-flex;
      flex: 1 1 auto;
      margin-left: 1rem;

      div:nth-child(2) {
        align-self: center;
        display: inline-flex;
        justify-content: center;
        width: 100%;
      }

      a {
        border: currentColor 1px solid;
      }
    }
  }
}
