<h2 mat-dialog-title>Contact Me</h2>
<div class="contact-form">
  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="contact-direct">
        Direct email <a href="mailto:prmast@projectmast.com">prmast@projectmast.com</a> or
      </div>
      <mat-form-field class="input-fields">
        <mat-icon matPrefix color="accent" class="icon">person_outline</mat-icon>
        <input matInput type="text" placeholder="Your Name" formControlName="sender" />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <mat-icon matPrefix color="accent" class="icon">mail</mat-icon>
        <input matInput type="email" placeholder="From Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <mat-icon matPrefix color="accent" class="icon">subject</mat-icon>
        <textarea matInput type="text" placeholder="Message" formControlName="message"></textarea>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-dialog-close mat-button color="warn" type="button">Back</button>
      <button mat-button color="primary" type="submit" [disabled]="!contactForm.valid">Send</button>
    </mat-dialog-actions>
  </form>
</div>
