<mat-card class="jobs">
  <mat-card-title>Experience</mat-card-title>
  <mat-card-content class="pm-achieve">
    <mat-list [@fadeInOut]="achieves.length">
      <ng-container *ngIf="achieves.length > 0; else loading">
        <mat-list-item *ngFor="let achieve of achieves"><span class="achieve-text">{{ achieve }}</span>
        </mat-list-item>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-list>
  </mat-card-content>
  <mat-card-footer class="pm-resume">
    <a mat-button color="primary" download target="_blank" href="assets/resume.pdf">Resum&#233;
      <mat-icon>file_download</mat-icon>
    </a>
  </mat-card-footer>
</mat-card>
