@import '../../theme/app.mixins';

.exp-wrapper {
  height: 77.5vh;
  overflow-y: hidden;

  .exp-view {
    position: relative;
    
    .test {
      @include pm-slide-position(100vh, false);
    }

    .skill {
      @include pm-slide-position;
    }
  }
}

.dk-knight {
  bottom: 0;
  position: fixed;
  right: -1px;
  width: 30vw;
  z-index: 0;
}
