@import '../../theme/app.mixins',
  '../../theme/app.theme';

.side-nav {
	@include pm-padding(.75rem, 0);

  .active-sub {
    @include pm-subnav-active();
  }

  .btns {
    @include pm-subnav();
  }
}

.dk-knight {
  bottom: 0;
  position: fixed;
  right: -1px;
  width: 30vw;
  z-index: 0;
}

