@import '../../../theme/app.mixins';

.side-nav {
  @include pm-padding(.75rem, 0);
}

.skills {
	margin-bottom: .75rem;
  width: 80%;
  @include pm-bg-card;
 
  .list {
  
	  md-list-item {
      display: flex;
      justify-content: flex-start;
			margin-left: .5rem;
  
	    &::before {
        align-self: center;
        content: '\2022';
        font-size: 1.5rem;
      }
    }
  }
}
