<md-card class="jobs">
  <md-card-title>Experience</md-card-title>
  <md-card-content class="pm-achieve">
    <md-list [@fadeInOut]="fadeIn">
      <md-list-item *ngFor="let achieve of achieves"><span class="achieve-text">{{ achieve }}</span></md-list-item>
    </md-list>
  </md-card-content>
  <md-card-footer class="pm-resume">
    <a md-button color="primary" download target="_blank" href="assets/resume.pdf">Resum&#233;
          <md-icon>file_download</md-icon>
        </a>
  </md-card-footer>
</md-card>
