@mixin nav-btns($top: 0) {
  .active {
    color: md-color($pm-primary) !important;
  }
  .ie-fix {
    flex: 0 0 auto;
  }
  .nav-btns {
    display: inline-block;
    width: 100%;
    &:hover {
      position: relative;
      md-icon {
        color: transparent;
      }
      &:after {
        content: attr(name);
        font-weight: 600;
        left: 0;
        top: $top;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }
}

@mixin pm-padding($vertical: .75rem, $horizontal: .75rem) {
  padding: $vertical $horizontal;
}

@mixin pm-slide-position($offset: 0, $first: true) {
  $position: if($first, inherit, absolute);
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  position: $position;
  top: $offset;
  z-index: 99;
}
