<div [class.pm-dark]="darkTheme">
  <mat-sidenav-container fullscreen>
   <nav fxLayout="row" fxLayoutAlign="space-between start" fxLayoutAlign.xs="center">
      <app-pm-logo fxFlex="33vw" fxFlex.xs=""></app-pm-logo>
      <div fxLayout="row" fxLayoutAlign="center center" fxHide="false" fxHide.xs fxFlex="30vw">
        <a *ngFor="let item of navItems" [name]="item.name" class="nav-btns btns" [routerLink]="item.path" mat-button routerLinkActive="active" [routerLinkActiveOptions]="item.match">
          <mat-icon>{{item.icon}}</mat-icon>
        </a>
      </div>
      <div fxHide="false" fxHide.xs fxFlex="25vw">&nbsp;</div>
      <div class="mobile-menu-btn" fxFlexAlign="center" fxShow="false" fxShow.xs>
        <button mat-icon-button (click)="mobile.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      </div>
    </nav>
    <mat-sidenav #mobile align="end">
      <mat-nav-list class="mobile-menu">
        <a #btns *ngFor="let item of navItems" [name]="item.name" class="nav-btns" [routerLink]="item.path" mat-list-item routerLinkActive="active" (click)="mobile.close()" [routerLinkActiveOptions]="item.match">
          <mat-icon>{{item.icon}}</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
     <div class="dark-toggle" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
      <mat-slide-toggle [(ngModel)]="darkTheme">Dark Mode</mat-slide-toggle>
      <app-pm-social></app-pm-social>
    </div>
    <main class="my-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
</div>
