@import '../theme/app.theme';
@import '../theme/app.mixins';

nav {
  @include pm-padding;
  position: relative;
  @include nav-btns;
  .mobile-menu-btn {
    position: absolute;
    right: .75rem;
  }
}

.mobile-menu {
  width: 6.5rem;
  @include nav-btns(1rem);
}

.my-content {
   @include pm-padding;
}

.dark-toggle {
  @include pm-padding(0);
}