<div [class.pm-dark]="darkTheme">
  <md-sidenav-container fullscreen>
   <nav fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign.xs="center">
      <app-pm-logo fxFlex="33vw" fxFlex.xs=""></app-pm-logo>
      <div class="ie-fix-nav" fxHide="false" fxHide.xs fxFlex="33vw">
        <a *ngFor="let item of navItems" [name]="item.name" class="nav-btns" [routerLink]="item.path" md-button routerLinkActive="active" [routerLinkActiveOptions]="item.match">
          <md-icon>{{item.icon}}</md-icon>
        </a>
      </div>
      <div fxHide="false" fxHide.xs fxFlex="33vw">&nbsp;</div>
      <div class="mobile-menu-btn" fxFlexAlign="center" fxShow="false" fxShow.xs>
        <button md-icon-button (click)="mobile.toggle()">
        <md-icon>menu</md-icon>
      </button>
      </div>
    </nav>
    <md-sidenav #mobile align="end">
      <md-nav-list class="mobile-menu">
        <a #btns *ngFor="let item of navItems" [name]="item.name" class="nav-btns" [routerLink]="item.path" md-list-item routerLinkActive="active" (click)="mobile.close()" [routerLinkActiveOptions]="item.match">
          <md-icon>{{item.icon}}</md-icon>
        </a>
      </md-nav-list>
    </md-sidenav>
     <div class="dark-toggle" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
      <md-slide-toggle [(ngModel)]="darkTheme">Dark Mode</md-slide-toggle>
      <app-pm-social></app-pm-social>
    </div>
    <main class="my-content">
      <router-outlet></router-outlet>
    </main>
  </md-sidenav-container>
</div>
