<h2 md-dialog-title>Contact Me</h2>
<div class="contact-form">
  <form>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>Direct email <a href="mailto:prmast@projectmast.com">prmast@projectmast.com</a> or</div>
      <md-input-container>
        <input matInput type="text" placeholder="Your Name">
        <span md-prefix>
          <md-icon color="accent">person_outline</md-icon>&nbsp;
        </span>
      </md-input-container>
      <md-input-container>
        <input matInput type="email" placeholder="From Email">
        <span md-prefix>
            <md-icon color="accent">mail</md-icon>&nbsp;
        </span>
      </md-input-container>
      <md-input-container>
        <textarea matInput type="text" placeholder="Message"></textarea>
        <span md-prefix>
            <md-icon color="accent">subject</md-icon>&nbsp;
        </span>
      </md-input-container>
    </div>
    <md-dialog-actions>
      <button md-dialog-close md-button color="warn" type="button">Back</button>
      <button md-button color="primary" type="submit">Send</button>
    </md-dialog-actions>
  </form>
</div>
