@import '../../theme/app.theme';

.contact-form {
	min-width: 35vw;

	.contact-direct {
		margin-bottom: 1rem;
	}

	.input-fields {
		width: 100%;
	}

	a {
		color: mat-color($pm-primary);

		&:hover {
			text-decoration: underline;
		}
	}
}