<mat-card class="pm-proj-base">
  <mat-card-title>Gallery</mat-card-title>
  <div fxLayout="column">
    <div class="body-text">
      <p>Being well-versed at many forms of <strong>Digital Media</strong>, here is a sampling of the most recent works that I have created. The button below goes to my previous portfolio, most of which was created in college.</p>
    </div>
    <div class="old-site" fxFlexAlign="center">
      <a mat-button color="primary" href="http://college.projectmast.com/" target="_blank">Previous Profolio Site</a>
    </div>
  </div>
</mat-card>
