@import '../../../theme/app.mixins', '../../../theme/app.theme';

.graphic {
  @include pm-bg-card;
  overflow: hidden;
  position: relative;
  width: $pmWidth;

  :host-context(.pm-dark) & {
    color: #fff;
  }

  .slide {
    cursor: grab;
    display: inline-flex;

    &:active {
      cursor: grabbing;
    }

    figure {
      max-width: 25vw;
      text-align: center;

      figcaption {
        padding-top: 0.5rem;
      }
    }

    .desc {
      flex: 1 1 auto;
      margin-left: 0.75rem;
    }
  }
}
