@import '../../../theme/app.mixins';

.feed {
  @include pm-bg-card;
  width: $pmWidth;

  .front {
    display: flex;
    justify-content: flex-start;

    mat-icon {
      transform: rotate(180deg);
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    line-height: 150%;
    @include pm-padding;
  }

  .back {
    display: flex;
    justify-content: flex-end;
  }
}
