.super-hero {
	width: 100%;
  max-width: 50vw;
  position: fixed;
  bottom: 3vw;
  right: 10vw;
}


.city-skyline {
	position: fixed;
	left: 0;
	bottom: -2px;
	right: 0;
}

.tag-line {
	font-size: 1.2rem;
	text-align: center;

	h1 {
		font-size: 1.75rem;
	}
}