@import '../../../theme/app.mixins';

.code {
  width: 80%;
  @include pm-bg-card;
  
  .slide {
    display: inline-flex;
    
    figure {
      max-width: 25vw;
      text-align: center;
      
      figcaption {
        padding-top: .5rem;
      }
    }
    
    .desc {
      align-items: flex-start;
      display: inline-flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;
      margin-left: .75rem;

      div:nth-child(2) {
        align-self: center;
      }

      a {
        border: currentColor 1px solid;
      }
    }
  }
}
