<md-card class="code">
  <md-card-title>Development Work</md-card-title>
  <swiper [config]="configSlides">
    <div class="slide" *ngFor="let slide of webSlides">
      <figure>
        <img [src]="slide.pic" [alt]="slide.title">
        <figcaption>{{ slide.title }}</figcaption>
      </figure>
      <div class="desc">
        <div [innerHtml]="slide.desc"></div>
        <div>
          <a md-button color="primary" [href]="slide.url" target="_blank">Github Repository</a>
        </div>
      </div>
    </div>
  </swiper>
</md-card>
