@import '../../theme/app.mixins',
  '../../theme/app.theme';

.side-nav {
  @include pm-padding(.75rem, 0);

  .active-sub {
    @include pm-subnav-active();
  }

  .btns {
    @include pm-subnav();
  }
}

.roof-top {
  bottom: -2px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}
