$pmWidth: 80vw;

@mixin nav-btns($top: 0) {
  .active {
    color: mat-color($pm-primary) !important;
  }
  .ie-fix {
    flex: 0 0 auto;
  }
  .nav-btns {
    display: inline-block;
    position: relative;
    width: 100%;

    &:hover {
      mat-icon {
        color: transparent;
      }
      &::after {
        content: attr(name);
        font-weight: 600;
        left: 0;
        top: $top;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    &::after {
      background-color: transparent;
    }
  }
}

@mixin pm-padding($vertical: 0.75rem, $horizontal: 0.75rem) {
  padding: $vertical $horizontal;
}

@mixin pm-bg-card {
  background-color: transparentize(#fefefe, 0.3);

  :host-context(.pm-dark) & {
    background-color: transparentize(#424242, 0.3);
  }
}

@mixin pm-text {
  color: #000;

  :host-context(.pm-dark) & {
    color: #fff;
  }
}

@mixin pm-subnav {
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  &:hover::before {
    transform: scaleX(1);
  }

  &::before {
    border-bottom: 2px solid currentColor;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.3s;
    width: 100%;
  }
}

@mixin pm-subnav-active {
  color: mat-color($pm-primary);
  position: relative;

  &::after {
    content: 'forward';
    display: inline-block;
    font-family: 'Material Icons';
    transform: rotate(180deg);
    position: absolute;
    right: 1%;
  }
}
